<wm-page data-ng-controller="Add_Vendor_PagePageController" pagetitle="Add Vendor Page" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-form errormessage="" captionposition="top" title="Add Vendor Form" enctype="application/x-www-form-urlencoded" method="post" dataset="bind:Variables.OverridesCreateVendors.dataSet" captionalign="center" name="createVendorsForm1">
                <wm-layoutgrid columns="2" name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-composite name="composite1"></wm-composite>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn3">
                            <wm-form-field name="Vendors_name" readonly="false" displayname="Name" key="Vendors.name" type="string" show="true" widget="text" required="false" placeholder="Enter value" inputtype="text"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn4">
                            <wm-form-field name="Vendors_overrideTypeId" readonly="false" displayname="Override Type" key="Vendors.overrideTypeId" type="integer" show="true" widget="select" placeholder="Select value" dataset="bind:Variables.read_overrides_types.dataSet"
                                datafield="overrideTypeId" displayfield="name"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn5">
                            <wm-form-field name="Vendors_reportYear" readonly="false" displayname="Report Year" key="Vendors.reportYear" type="integer" show="true" widget="select" placeholder="Enter value" dataset="bind:Variables.list_years.dataSet" datafield="dataValue"
                                displayfield="dataValue"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn6">
                            <wm-form-field name="Vendors_typeId" readonly="false" displayname="Vendor Type" key="Vendors.typeId" type="integer" show="true" widget="select" placeholder="Select value" dataset="bind:Variables.read_types.dataSet" datafield="typeId"
                                displayfield="name"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn2">
                            <wm-form-field name="Vendors_goalId" readonly="false" displayname="Goal Type" key="Vendors.goalId" type="integer" show="true" widget="select" placeholder="Select value" dataset="bind:Variables.read_goals.dataSet" datafield="goalId"
                                displayfield="name"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn1">
                            <wm-form-field name="Vendors_forecastTypeId" readonly="false" displayname="Forecast Type" key="Vendors.forecastTypeId" type="integer" show="true" widget="select" placeholder="Select value" dataset="bind:Variables.read_forecast_types.dataSet"
                                datafield="forecastTypeId" displayfield="name"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn7">
                            <wm-form-field name="Vendors_vendorKey" readonly="false" displayname="Vendor Key" key="Vendors.vendorKey" type="integer" show="true" widget="number" placeholder="Search" inputtype="number"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn1" columnwidth="6">
                            <wm-form-field name="Vendors_modified" key="Vendors.modified" type="timestamp" displayname="Modified" widget="timestamp" show="false" mobile-display="false" disabled="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-buttongroup horizontalalign="right" class="form-action col-md-12" name="buttongroup1">
                    <wm-button caption="Reset" type="reset" class="btn-secondary" name="button1"></wm-button>
                    <wm-button class="btn-default" caption="Cancel" type="button" name="vendor_cancel_button" backgroundcolor="#c3d128" on-click="Actions.goToPage_Main.invoke()"></wm-button>
                    <wm-button caption="Save" type="submit" class="btn-primary" name="button3"></wm-button>
                    <wm-button class="btn-default" caption="Refresh" type="button" name="refresh_vendor_button" on-click="Widgets.VendorsTable1.refreshData()"></wm-button>
                </wm-buttongroup>
            </wm-form>
            <wm-table editmode="inline" name="VendorsTable1" title="Vendors List" dataset="bind:Variables.OverridesVendorsData.dataSet" navigation="Basic" filtermode="multicolumn">
                <wm-table-column binding="name" caption="Name" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false" required="true"></wm-table-column>
                <wm-table-column binding="types.name" caption="Vendor Type" primary-key="false" edit-widget-type="text" related-entity-name="Types" type="string" generator="assigned" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="goals.name" caption="Goal" primary-key="false" edit-widget-type="text" related-entity-name="Goals" type="string" generator="assigned" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="overrideTypes.name" caption="Overrides Type" primary-key="false" edit-widget-type="text" related-entity-name="OverrideTypes" type="string" generator="assigned" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="forecastTypes.name" caption="Forecast Type" primary-key="false" edit-widget-type="text" related-entity-name="ForecastTypes" type="string" generator="assigned" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="vendorKey" caption="Vendor Key" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="reportYear" caption="Report Year" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action>
                <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
            </wm-table>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>