<wm-partial data-ng-controller="topnavPageController" name="topnav" type="topnav">
    <wm-navbar name="navbar1">
        <wm-nav name="leftTopLinks" type="navbar" class="navbar-left">
            <wm-nav-item name="list_home">
                <wm-anchor caption="Home" name="homeLink" iconclass="glyphicon glyphicon-home" on-click="Variables.goToPage_Main.invoke()"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_services"></wm-nav-item>
            <wm-nav-item name="nav_item5">
                <wm-button class="btn-default" caption="Add/VIEW Vendor" type="button" margin="unset 0.5em" name="add_vendor_button" iconclass="wi wi-file" on-click="Actions.goToPage_Add_Vendor_Page.invoke()"></wm-button>
            </wm-nav-item>
            <wm-nav-item name="nav_item6"></wm-nav-item>
            <wm-nav-item name="nav_item7"></wm-nav-item>
            <wm-nav-item name="nav_item8">
                <wm-button class="btn-default" caption="Add/view Incentives" type="button" margin="unset 0.5em" name="add_incentive_button" iconclass="wi wi-file" on-click="Actions.goToPage_Add_incentive_page.invoke()"></wm-button>
            </wm-nav-item>
            <wm-nav-item name="nav_item9">
                <wm-button class="btn-default" caption="Add/view Py Payouyts" type="button" margin="unset 0.5em" name="add_py_payouts_button" iconclass="wi wi-file" on-click="Actions.goToPage_Add_py_payouts_page.invoke()"></wm-button>
            </wm-nav-item>
            <wm-nav-item name="nav_item10">
                <wm-button class="btn-default" caption="Add/view Py Performances" type="button" margin="unset 0.5em" name="button4" iconclass="wi wi-file" on-click="Actions.goToPage_Add_Py_Performances_Page.invoke()"></wm-button>
            </wm-nav-item>
        </wm-nav>
        <wm-nav name="rightTopLinks" type="navbar" class="navbar-right" horizontalalign="right">
            <wm-nav-item name="list_help"></wm-nav-item>
            <wm-nav-item name="list_logout">
                <wm-anchor caption="Logout" name="logoutLink" iconclass="glyphicon glyphicon-user" on-click="Actions.logoutAction.invoke()"></wm-anchor>
            </wm-nav-item>
        </wm-nav>
    </wm-navbar>
</wm-partial>