<wm-partial data-ng-controller="leftnavPageController" name="leftnav" type="leftnav"> 
    <wm-nav name="leftnavigation" type="pills" layout="stacked"> 
        <wm-nav-item name="list_latestUpdate"> 
            <wm-anchor caption="Overview" name="dashboardLink" iconclass="glyphicon glyphicon-dashboard" on-click="Variables.goToPage_Vendor_Main.invoke()"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="list_inTheNews"> 
            <wm-anchor caption="Add Update" name="porderLink" iconclass="wi wi-playlist-add" on-click="Variables.goToPage_Vendor_Update.invoke()"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="list_share"></wm-nav-item> 
        <wm-nav-item name="list_help"></wm-nav-item> 
    </wm-nav> 
</wm-partial>