<wm-page data-ng-controller="Vendor_UpdatePageController" pagetitle="Vendor Update" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-layoutgrid name="layoutgrid3_1">
                <wm-gridrow name="gridrow13_1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn33_2">
                        <wm-label padding="unset 0.5em" name="label17_1" caption="Update Vendor" fontsize="14"></wm-label>
                        <wm-label padding="unset 0.5em" name="label18" caption="bind:Variables.select_vendor.dataSet.name" fontsize="-6"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow14">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn35_1">
                        <wm-table gridfirstrowselect="true" title="Vendor Data" dataset="bind:Variables.Vendor_Summaries.dataSet" navigation="Basic" name="grid2" spacing="condensed" class="panel-default" editmode="dialog" filtermode="search" radioselect="false"
                            multiselect="false" showrowindex="false" show="false">
                            <wm-table-column binding="rowOperations" caption="Actions" width="120px" type="custom" readonly="true" sortable="false" searchable="false" show="true" rowactionsposition="0"></wm-table-column>
                            <wm-table-column binding="active" caption="Active" primary-key="false" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false" required="true"></wm-table-column>
                            <wm-table-column binding="dateId" caption="Date Id" primary-key="false" edit-widget-type="number" type="long" generator="assigned" show="true" readonly="false" required="true"></wm-table-column>
                            <wm-table-column binding="vendorId" caption="Vendor Id" primary-key="false" edit-widget-type="number" type="integer" generator="assigned" mobiledisplay="false" show="true" readonly="false" required="true"></wm-table-column>
                            <wm-table-column binding="year" caption="Year" edit-widget-type="number" type="integer" generator="assigned" formatpattern="numberToString" mobiledisplay="false" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="periodId" caption="Period Id" edit-widget-type="number" type="integer" generator="assigned" mobiledisplay="false" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="levelId" caption="Level Id" primary-key="false" edit-widget-type="number" type="integer" generator="assigned" mobiledisplay="false" show="true" readonly="false" required="true"></wm-table-column>
                            <wm-table-column binding="sales" caption="Sales" primary-key="false" edit-widget-type="number" type="double" generator="assigned" formatpattern="toCurrency" currencypattern="USD" fractionsize="2" mobiledisplay="false"
                                show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="qualSales" caption="Qual Sales" edit-widget-type="number" type="double" generator="assigned" formatpattern="toCurrency" currencypattern="USD" fractionsize="0" mobiledisplay="false"
                                show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="pax" caption="Pax" primary-key="false" edit-widget-type="number" type="double" generator="assigned" formatpattern="None" mobiledisplay="false" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="qualPax" caption="Qual Pax" edit-widget-type="number" type="double" generator="assigned" formatpattern="None" mobiledisplay="false" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="units" caption="Units" primary-key="false" edit-widget-type="number" type="double" generator="assigned" formatpattern="None" mobiledisplay="false" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="qualUnit" caption="Qual Unit" edit-widget-type="number" type="double" generator="assigned" formatpattern="None" mobiledisplay="false" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="stlySalesPct" caption="Stly Sales Pct" primary-key="false" edit-widget-type="number" type="double" generator="assigned" mobiledisplay="false" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="stlyUnitsPct" caption="Stly Units Pct" primary-key="false" edit-widget-type="number" type="double" generator="assigned" mobiledisplay="false" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="stlyPaxPct" caption="Stly Pax Pct" primary-key="false" edit-widget-type="number" type="double" generator="assigned" mobiledisplay="false" show="true" readonly="false"></wm-table-column>
                            <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action>
                        </wm-table>
                        <wm-table editmode="inline" name="SummariesTable1" title="Report Data" dataset="bind:Variables.Vendor_Summaries.dataSet" navigation="Basic" radioselect="false" multiselect="true">
                            <wm-table-column binding="dateId" caption="Date Id" edit-widget-type="number" type="long" generator="assigned" show="true" readonly="false" required="true"></wm-table-column>
                            <wm-table-column binding="year" caption="Year" primary-key="false" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="vendorId" caption="Vendor Id" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false" required="true"></wm-table-column>
                            <wm-table-column binding="periodId" caption="Period Id" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false" required="true"></wm-table-column>
                            <wm-table-column binding="levelId" caption="Level Id" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false" required="true"></wm-table-column>
                            <wm-table-column binding="sales" caption="Sales" primary-key="false" edit-widget-type="number" type="double" generator="assigned" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="qualSales" caption="Qual Sales" primary-key="false" edit-widget-type="number" type="double" generator="assigned" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="pax" caption="Pax" primary-key="false" edit-widget-type="number" type="double" generator="assigned" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="qualPax" caption="Qual Pax" primary-key="false" edit-widget-type="number" type="double" generator="assigned" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="units" caption="Units" primary-key="false" edit-widget-type="number" type="double" generator="assigned" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="qualUnit" caption="Qual Unit" primary-key="false" edit-widget-type="number" type="double" generator="assigned" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="stlySalesPct" caption="Stly Sales Pct" primary-key="false" edit-widget-type="number" type="double" generator="assigned" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="stlyUnitsPct" caption="Stly Units Pct" primary-key="false" edit-widget-type="number" type="double" generator="assigned" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="stlyPaxPct" caption="Stly Pax Pct" primary-key="false" edit-widget-type="number" type="double" generator="assigned" show="true" readonly="false"></wm-table-column>
                        </wm-table>
                        <wm-liveform novalidate="false" title="Add Data" formlayout="dialog" dataset="bind:Variables.Vendor_Summaries.dataSet" captionalign="left" captionposition="top" name="liveform2" class="panel-default">
                            <wm-layoutgrid name="layoutgrid4">
                                <wm-gridrow name="gridrow31">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn40">
                                        <wm-form-field name="custom" key="custom" displayname="As of date" show="true" mobile-display="false" type="custom" widget="date" primary-key="false" placeholder="Select date" required="true"></wm-form-field>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn41">
                                        <wm-form-field name="periodId" displayname="Period Id" show="true" primary-key="false" generator="assigned" key="periodId" type="integer" readonly="false" required="true" mobile-display="false" step="0" widget="select"
                                            datafield="periodId" displayfield="periodId" placeholder="Select value" dataset="bind:Variables.OverridesPeriodsData.dataSet"></wm-form-field>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn42">
                                        <wm-form-field name="year" displayname="Year" show="true" primary-key="false" generator="assigned" key="year" type="integer" readonly="false" mobile-display="false" step="0" widget="select" dataset="bind:Variables.list_years.dataSet"
                                            datafield="dataValue" displayfield="dataValue" defaultvalue="2016" placeholder="Select value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow39">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn64">
                                        <wm-form-field name="sales" displayname="Sales" show="true" primary-key="false" generator="assigned" key="sales" type="double" readonly="false" mobile-display="false" step="0.01" widget="number" defaultvalue="0" inputtype="number"
                                            placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn65">
                                        <wm-form-field name="pax" displayname="Pax" show="true" primary-key="false" generator="assigned" key="pax" type="double" readonly="false" mobile-display="false" step="0.01" widget="number" defaultvalue="0" inputtype="number"
                                            placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn66">
                                        <wm-form-field name="units" displayname="Units" show="true" primary-key="false" generator="assigned" key="units" type="double" readonly="false" mobile-display="false" step="0.01" widget="number" defaultvalue="0" inputtype="number"
                                            placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow32">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn45">
                                        <wm-form-field name="qualSales" displayname="Qual Sales" show="true" primary-key="false" generator="assigned" key="qualSales" type="double" readonly="false" mobile-display="false" step="0.01" widget="number" defaultvalue="0"
                                            inputtype="number" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn46">
                                        <wm-form-field name="qualPax" displayname="Qual Pax" show="true" primary-key="false" generator="assigned" key="qualPax" type="double" readonly="false" mobile-display="false" step="0.01" widget="number" defaultvalue="0"
                                            inputtype="number" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow1">
                                    <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                                        <wm-form-field name="qualUnit" displayname="Qual Unit" show="true" primary-key="false" generator="assigned" key="qualUnit" type="double" readonly="false" mobile-display="false" step="0.01" widget="number" defaultvalue="0"
                                            inputtype="number" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow2">
                                    <wm-gridcolumn name="gridcolumn2" columnwidth="12">
                                        <wm-form-field name="stlySalesPct" displayname="Stly Sales Pct" show="true" primary-key="false" generator="assigned" key="stlySalesPct" type="double" readonly="false" mobile-display="false" step="0.000001" widget="number"
                                            defaultvalue="0" inputtype="number" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow3">
                                    <wm-gridcolumn name="gridcolumn3" columnwidth="12">
                                        <wm-form-field name="stlyUnitsPct" displayname="Stly Units Pct" show="true" primary-key="false" generator="assigned" key="stlyUnitsPct" type="double" readonly="false" mobile-display="false" step="0.000001" widget="number"
                                            defaultvalue="0" inputtype="number" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow1">
                                    <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                                        <wm-form-field name="stlyPaxPct" displayname="Stly Pax Pct" show="true" primary-key="false" generator="assigned" key="stlyPaxPct" type="double" readonly="false" mobile-display="false" step="0.000001" widget="number"
                                            defaultvalue="0" inputtype="number" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow1">
                                    <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                                        <wm-form-field name="summaryId" displayname="Summary Id" show="true" primary-key="true" generator="assigned" key="summaryId" type="string" readonly="false" required="true" widget="text" maxchars="200"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action>
                            <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" action="Variables.CalculateOperation.invoke();cancel()" disabled="false" type="button"
                                update-mode="true"></wm-form-action>
                            <wm-form-action key="reset" class="form-reset btn-secondary" iconclass="wi wi-refresh" action="reset()" display-name="Reset" show="true" type="button" update-mode="true" shortcutkey=""></wm-form-action>
                        </wm-liveform>
                        <wm-button class="btn-default" caption="Add Data" type="button" name="button4" on-click="Widgets.dialog2.open()"></wm-button>
                        <wm-button class="btn-default" caption="REFRESH" type="button" margin="unset 0.5em" name="button4_1" on-click="Widgets.SummariesTable1.refreshData()"></wm-button>
                        <wm-button class="btn-default" caption="Delete Selected" type="button" margin="unset 0.5em" name="deleteselectedbutton" on-click="Variables.deactivatesummary.invoke();Actions.summarydeleted.invoke()" backgroundcolor="#dc1414"></wm-button>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-livetable formlayout="dialog" name="livegrid2"></wm-livetable>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="view2">
        <wm-dialog dialogtype="design-dialog" modal="false" name="dialog2" tabindex="3" width="700" title="Add Data" iconwidth="21px" iconclass="wi wi-edit">
            <wm-form captionposition="top" class="app-dialog-form" name="form3" tabindex="2" method="post" enctype="application/x-www-form-urlencoded" on-submit="Widgets.dialog2.close()">
                <wm-layoutgrid name="layoutgrid3">
                    <wm-gridrow name="gridrow12">
                        <wm-gridcolumn columnwidth="3" name="gridcolumn30">
                            <wm-label name="label12_1" width="127" caption="bind:Variables.select_vendor.dataSet.name"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn31">
                            <wm-label name="label13_2" width="169" caption="Goal:" fontweight="bold" textalign="right"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn32">
                            <wm-label name="label13_1" width="158" caption="bind:Variables.select_vendor.dataSet.goalId"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn33_1"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow13">
                        <wm-gridcolumn columnwidth="3" name="gridcolumn34">
                            <wm-composite name="composite5" required="true" captionposition="top">
                                <wm-label class="col-md-3 control-label" name="label7" caption="As of Date"></wm-label>
                                <wm-container class="col-md-9" name="container4">
                                    <wm-date name="date_select" required="true"></wm-date>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn33">
                            <wm-composite name="composite8" captionposition="top">
                                <wm-label class="col-md-3 control-label" name="label10" caption="Qual Sales"></wm-label>
                                <wm-container class="col-md-9" name="container7" width="150">
                                    <wm-currency name="qual_sales" datavalue="0"></wm-currency>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn35">
                            <wm-composite name="composite11_1" captionposition="top">
                                <wm-container class="col-md-9" name="container10_1">
                                    <wm-label class="col-md-3 control-label" name="label13_1" caption="STLY Sales"></wm-label>
                                    <wm-text name="stly_sales" type="number" placeholder="Enter number" width="150" datavalue="0" step="0.0001"></wm-text>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn23_1">
                            <wm-composite name="composite7_1" captionposition="top" show="false">
                                <wm-container class="col-md-9" name="container6">
                                    <wm-label class="col-md-3 control-label" name="label9_1" caption="Total Sales"></wm-label>
                                    <wm-currency name="sales_amt" datavalue="0"></wm-currency>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow9">
                        <wm-gridcolumn columnwidth="3" name="gridcolumn21">
                            <wm-composite name="composite6" required="true" captionposition="top">
                                <wm-label class="col-md-3 control-label" name="label8" caption="Period"></wm-label>
                                <wm-container class="col-md-9" name="container5">
                                    <wm-select name="period_select" dataset="bind:Variables.read_periods.dataSet" datafield="periodId" displayfield="name" required="true"></wm-select>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn27">
                            <wm-composite name="composite10" captionposition="top">
                                <wm-container class="col-md-9" name="container9" width="150">
                                    <wm-label class="col-md-3 control-label" name="label12" caption="Qual Units" width="153"></wm-label>
                                    <wm-text name="qual_units" type="number" placeholder="Enter number" datavalue="0"></wm-text>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn23">
                            <wm-composite name="composite11_" captionposition="top">
                                <wm-label class="col-md-3 control-label" name="label13_" caption="STLY Units"></wm-label>
                                <wm-container class="col-md-9" name="container10_">
                                    <wm-text name="stly_units" type="number" placeholder="Enter number" width="150" datavalue="0" step="0.0001"></wm-text>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn23_">
                            <wm-composite name="composite11" captionposition="top" show="false">
                                <wm-container class="col-md-9" name="container10">
                                    <wm-text name="units_amt" type="number" placeholder="Enter number" width="150" datavalue="0"></wm-text>
                                    <wm-label class="col-md-3 control-label" name="label13" caption="Total Units"></wm-label>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow10">
                        <wm-gridcolumn columnwidth="3" name="gridcolumn24">
                            <wm-composite name="composite12_1" captionposition="top">
                                <wm-label class="col-md-3 control-label" caption="Payout" name="label17"></wm-label>
                                <wm-container class="col-md-9" name="container12_1" width="150">
                                    <wm-currency datavalue="-1" name="payout"></wm-currency>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn26">
                            <wm-composite name="composite13" captionposition="top">
                                <wm-label class="col-md-3 control-label" name="label15" caption="Qual PAX"></wm-label>
                                <wm-container class="col-md-9" name="container12">
                                    <wm-text name="qual_pax" type="number" placeholder="Enter number" datavalue="0" width="200"></wm-text>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn25">
                            <wm-composite name="composite12_" captionposition="top">
                                <wm-label class="col-md-3 control-label" name="label14_" caption="STLY PAX"></wm-label>
                                <wm-text name="stly_pax" type="number" placeholder="Enter number" datavalue="0" step="0.0001" width="150"></wm-text>
                            </wm-composite>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn25_">
                            <wm-composite name="composite12" captionposition="top" show="false">
                                <wm-label class="col-md-3 control-label" name="label14" caption="Total PAX" show="true"></wm-label>
                                <wm-container class="col-md-9" name="container11">
                                    <wm-text name="pax_amt" type="number" placeholder="Enter number" datavalue="0"></wm-text>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow16">
                        <wm-gridcolumn columnwidth="3" name="gridcolumn38">
                            <wm-composite required="true" name="composite14" captionposition="top">
                                <wm-label class="col-md-3 control-label" caption="Year" name="label19"></wm-label>
                                <wm-container class="col-md-9" name="container13">
                                    <wm-select dataset="bind:Variables.list_years.dataSet" datafield="dataValue" displayfield="dataValue" required="true" name="select2" datavalue="2018"></wm-select>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn39"></wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn40_1"></wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn41_1"></wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-dialogactions name="dialogactions2">
                    <wm-button class="btn-secondary" caption="Cancel" on-click="closeDialog()" name="button6"></wm-button>
                    <wm-button class="btn-primary" caption="Save" name="button7" on-click="Variables.CalculateOperation.invoke()" type="submit"></wm-button>
                </wm-dialogactions>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>