<wm-page data-ng-controller="Add_incentive_pagePageController" pagetitle="Add Incentive Page" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-form errormessage="" captionposition="top" title="Incentive Details Form" enctype="application/x-www-form-urlencoded" method="post" dataset="bind:Variables.OverridesCreateIncentives.dataSet" captionalign="center" name="createIncentivesForm1">
                <wm-layoutgrid columns="2" name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-composite name="composite1"></wm-composite>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn1">
                            <wm-form-field name="Incentives_vendorId" readonly="false" displayname="Vendor" key="Incentives.vendorId" type="integer" show="true" widget="select" placeholder="Select value" dataset="bind:Variables.read_vendors.dataSet" datafield="vendorId"
                                displayfield="name" orderby="name:asc" required="true" validationmessage="This field is required"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn2">
                            <wm-form-field name="Incentives_tierLevel" readonly="false" displayname="Tier Level" key="Incentives.tierLevel" type="integer" show="true" widget="select" placeholder="Select value" dataset="bind:Variables.read_tier_levels.dataSet"
                                datafield="levelId" displayfield="name" required="true" validationmessage="This field is required"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn3">
                            <wm-form-field name="Incentives_periodId" readonly="false" displayname="Period" key="Incentives.periodId" type="integer" show="true" widget="select" placeholder="Select value" dataset="bind:Variables.read_periods.dataSet" datafield="periodId"
                                displayfield="name" required="true" validationmessage="This field is required"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn4">
                            <wm-form-field name="Incentives_typeId" readonly="false" displayname="Type" key="Incentives.typeId" type="integer" show="true" widget="select" placeholder="Select value" dataset="bind:Variables.read_types.dataSet" datafield="typeId"
                                displayfield="name" required="true" validationmessage="This field is required"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn5">
                            <wm-form-field name="Incentives_goalId" readonly="false" displayname="Goal Type" key="Incentives.goalId" type="integer" show="true" widget="select" placeholder="Select value" dataset="bind:Variables.read_goals.dataSet" datafield="goalId"
                                displayfield="name" required="true" validationmessage="This field is required"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn6">
                            <wm-form-field name="Incentives_rateAmt" readonly="false" displayname="Rate Amt" key="Incentives.rateAmt" type="float" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn7">
                            <wm-form-field name="Incentives_targetAmt" readonly="false" displayname="Target Amt" key="Incentives.targetAmt" type="double" show="true" widget="currency" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn8">
                            <wm-form-field name="Incentives_targetPct" readonly="false" displayname="Target Pct" key="Incentives.targetPct" type="float" show="true" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn9">
                            <wm-form-field name="Incentives_weight" readonly="false" displayname="Weight" key="Incentives.weight" type="double" show="true" widget="number" inputtype="number" placeholder="Enter value" required="true" validationmessage="This field is required"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn10">
                            <wm-form-field name="Incentives_yearDt" readonly="false" displayname="Year Dt" key="Incentives.yearDt" type="integer" show="true" widget="select" inputtype="number" placeholder="Enter value" dataset="bind:Variables.list_years.dataSet"
                                datafield="dataValue" displayfield="dataValue" orderby="dataValue:desc" required="true" validationmessage="This field is required"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-buttongroup horizontalalign="right" class="form-action col-md-12" name="buttongroup1">
                    <wm-button caption="Reset" type="reset" class="btn-secondary" name="button1"></wm-button>
                    <wm-button caption="Cancel" type="button" class="btn-warning" name="button2" on-click="Actions.goToPage_Main.invoke()"></wm-button>
                    <wm-button caption="Save" type="submit" class="btn-primary" name="button3"></wm-button>
                    <wm-button class="btn-default" caption="REFRESH" type="button" name="incentive_refresh_button" on-click="Widgets.IncentivesTable1.refreshData()"></wm-button>
                </wm-buttongroup>
            </wm-form>
            <wm-table editmode="inline" name="IncentivesTable1" title="Incentives List" dataset="bind:Variables.OverridesIncentivesData.dataSet" navigation="Basic" filtermode="multicolumn">
                <wm-table-column binding="vendors.name" caption="Vendor Name" primary-key="false" edit-widget-type="select" related-entity-name="Vendors" type="string" generator="assigned" readonly="true" dataset="bind:Variables.read_vendors.dataSet" datafield="vendorId"
                    displayfield="name" defaultvalue="bind:Widgets.IncentivesTable1.selecteditem.vendors.name" show="true"></wm-table-column>
                <wm-table-column binding="types.name" caption="Type" primary-key="false" edit-widget-type="text" related-entity-name="Types" type="string" generator="assigned" readonly="true" mobiledisplay="false" show="true"></wm-table-column>
                <wm-table-column binding="goals.name" caption="Goal" primary-key="false" edit-widget-type="select" related-entity-name="Goals" type="string" generator="assigned" readonly="true" dataset="bind:Variables.read_goals.dataSet"
                    datafield="goalId" displayfield="name" show="true"></wm-table-column>
                <wm-table-column binding="periods.name" caption="Period" primary-key="false" edit-widget-type="select" related-entity-name="Periods" type="string" generator="assigned" readonly="true" dataset="bind:Variables.read_periods.dataSet"
                    datafield="periodId" displayfield="name" show="true"></wm-table-column>
                <wm-table-column binding="levels.name" caption="Tier_Level" primary-key="false" edit-widget-type="select" related-entity-name="Levels" type="string" generator="assigned" readonly="true" dataset="bind:Variables.read_tier_levels.dataSet"
                    datafield="levelId" displayfield="name" show="true"></wm-table-column>
                <wm-table-column binding="targetAmt" caption="Target Amt" edit-widget-type="number" type="double" generator="assigned" defaultvalue="0" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="targetPct" caption="Target Pct" edit-widget-type="number" type="float" generator="assigned" defaultvalue="0" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="rateAmt" caption="Rate Amt" edit-widget-type="number" type="float" generator="assigned" defaultvalue="0" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="yearDt" caption="Year Dt" edit-widget-type="select" type="integer" generator="assigned" dataset="bind:Variables.list_years.dataSet" datafield="dataValue" displayfield="dataValue" show="true"
                    readonly="false"></wm-table-column>
                <wm-table-column binding="weight" caption="Weight" primary-key="false" edit-widget-type="number" type="double" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action>
                <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
            </wm-table>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>