<wm-partial data-ng-controller="headerPageController" name="header" type="header"> 
    <wm-layoutgrid name="headerlayout"> 
        <wm-gridrow name="headerrow"> 
            <wm-gridcolumn name="headerleft" verticalalign="middle" columnwidth="7"> 
                <wm-picture picturesource="resources/images/logos/logo.png" name="AppLogo" marginleft="5"></wm-picture> 
                <wm-label caption="CP Overrides" class="application-name" name="AppName" fontsize="20"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>