<wm-page data-ng-controller="Vendor_MainPageController" pagetitle="Vendor Main" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn1">
                        <wm-label name="label2" width="227" caption="Overview" fontsize="20" fontweight="bold"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn2"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn3"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow2">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn4">
                        <wm-label name="label3" width="137" caption="bind:Variables.select_vendor.dataSet.name"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn5"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn6"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow3">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                        <wm-tabs name="tabs1">
                            <wm-tabpane name="tabpane1" heading="Q1">
                                <wm-table readonlygrid="true" dataset="bind:Variables.incentive_2016_1.dataSet" navigation="Basic" name="grid1" spacing="condensed" class="panel-default">
                                    <wm-table-column binding="yearDt" caption="Year Dt" type="short" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="false" show="true"></wm-table-column>
                                    <wm-table-column binding="tierLevel" caption="Tier Level" type="big_integer" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="false" show="true"></wm-table-column>
                                    <wm-table-column binding="tierAmt" caption="Tier Amt" type="double" generator="assigned" readonly="true" formatpattern="toCurrency" currencypattern="USD" pcdisplay="true" mobiledisplay="false" show="true"></wm-table-column>
                                    <wm-table-column binding="targetAmt" caption="Target Amt" type="double" generator="assigned" readonly="true" formatpattern="toCurrency" currencypattern="USD" pcdisplay="true" mobiledisplay="false"
                                        show="true"></wm-table-column>
                                    <wm-table-column binding="targetPct" caption="Target Pct" type="double" generator="assigned" readonly="true" pcdisplay="true" mobiledisplay="false" show="true"></wm-table-column>
                                    <wm-table-column binding="minPayout" caption="Min Payout" type="double" generator="assigned" readonly="true" formatpattern="toCurrency" currencypattern="USD" pcdisplay="true" mobiledisplay="false"
                                        show="true"></wm-table-column>
                                </wm-table>
                            </wm-tabpane>
                            <wm-tabpane name="tabpane2" heading="Q2">
                                <wm-table readonlygrid="true" dataset="bind:Variables.incentive_2016_2.dataSet" navigation="Basic" name="grid2" spacing="condensed" class="panel-default">
                                    <wm-table-column binding="yearDt" caption="Year Dt" generator="assigned" pcdisplay="true" mobiledisplay="true" type="short" readonly="true"></wm-table-column>
                                    <wm-table-column binding="typeLn" caption="Type Ln" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" readonly="true"></wm-table-column>
                                    <wm-table-column binding="tierAmt" caption="Tier Amt" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double" readonly="true"></wm-table-column>
                                    <wm-table-column binding="targetAmt" caption="Target Amt" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double" readonly="true"></wm-table-column>
                                    <wm-table-column binding="targetPct" caption="Target Pct" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double" readonly="true"></wm-table-column>
                                    <wm-table-column binding="minPayout" caption="Min Payout" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double" readonly="true"></wm-table-column>
                                    <wm-table-column binding="tierLevel" caption="Tier Level" generator="assigned" pcdisplay="true" mobiledisplay="true" type="big_integer" readonly="true"></wm-table-column>
                                    <wm-table-column binding="period" caption="Period" generator="assigned" pcdisplay="true" mobiledisplay="true" type="big_integer" readonly="true"></wm-table-column>
                                </wm-table>
                            </wm-tabpane>
                            <wm-tabpane name="tabpane3" heading="Q3">
                                <wm-table readonlygrid="true" dataset="bind:Variables.incentive_2016_3.dataSet" navigation="Basic" name="grid3" spacing="condensed" class="panel-default">
                                    <wm-table-column binding="yearDt" caption="Year Dt" generator="assigned" pcdisplay="true" mobiledisplay="true" type="short" readonly="true"></wm-table-column>
                                    <wm-table-column binding="typeLn" caption="Type Ln" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" readonly="true"></wm-table-column>
                                    <wm-table-column binding="tierAmt" caption="Tier Amt" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double" readonly="true"></wm-table-column>
                                    <wm-table-column binding="targetAmt" caption="Target Amt" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double" readonly="true"></wm-table-column>
                                    <wm-table-column binding="targetPct" caption="Target Pct" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double" readonly="true"></wm-table-column>
                                    <wm-table-column binding="minPayout" caption="Min Payout" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double" readonly="true"></wm-table-column>
                                    <wm-table-column binding="tierLevel" caption="Tier Level" generator="assigned" pcdisplay="true" mobiledisplay="true" type="big_integer" readonly="true"></wm-table-column>
                                    <wm-table-column binding="period" caption="Period" generator="assigned" pcdisplay="true" mobiledisplay="true" type="big_integer" readonly="true"></wm-table-column>
                                </wm-table>
                            </wm-tabpane>
                            <wm-tabpane name="tabpane4" heading="Q4">
                                <wm-table readonlygrid="true" dataset="bind:Variables.incentive_2016_4.dataSet" navigation="Basic" name="grid4" spacing="condensed" class="panel-default">
                                    <wm-table-column binding="yearDt" caption="Year Dt" generator="assigned" pcdisplay="true" mobiledisplay="true" type="short" readonly="true"></wm-table-column>
                                    <wm-table-column binding="typeLn" caption="Type Ln" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" readonly="true"></wm-table-column>
                                    <wm-table-column binding="tierAmt" caption="Tier Amt" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double" readonly="true"></wm-table-column>
                                    <wm-table-column binding="targetAmt" caption="Target Amt" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double" readonly="true"></wm-table-column>
                                    <wm-table-column binding="targetPct" caption="Target Pct" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double" readonly="true"></wm-table-column>
                                    <wm-table-column binding="minPayout" caption="Min Payout" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double" readonly="true"></wm-table-column>
                                    <wm-table-column binding="tierLevel" caption="Tier Level" generator="assigned" pcdisplay="true" mobiledisplay="true" type="big_integer" readonly="true"></wm-table-column>
                                    <wm-table-column binding="period" caption="Period" generator="assigned" pcdisplay="true" mobiledisplay="true" type="big_integer" readonly="true"></wm-table-column>
                                </wm-table>
                            </wm-tabpane>
                            <wm-tabpane name="tabpane5" heading="Annual">
                                <wm-table readonlygrid="true" dataset="bind:Variables.incentive_2016_5.dataSet" navigation="Basic" name="grid5" spacing="condensed" class="panel-default">
                                    <wm-table-column binding="yearDt" caption="Year Dt" generator="assigned" pcdisplay="true" mobiledisplay="true" type="short" readonly="true"></wm-table-column>
                                    <wm-table-column binding="typeLn" caption="Type Ln" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" readonly="true"></wm-table-column>
                                    <wm-table-column binding="tierAmt" caption="Tier Amt" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double" readonly="true"></wm-table-column>
                                    <wm-table-column binding="targetAmt" caption="Target Amt" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double" readonly="true"></wm-table-column>
                                    <wm-table-column binding="targetPct" caption="Target Pct" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double" readonly="true"></wm-table-column>
                                    <wm-table-column binding="minPayout" caption="Min Payout" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double" readonly="true"></wm-table-column>
                                    <wm-table-column binding="tierLevel" caption="Tier Level" generator="assigned" pcdisplay="true" mobiledisplay="true" type="big_integer" readonly="true"></wm-table-column>
                                    <wm-table-column binding="period" caption="Period" generator="assigned" pcdisplay="true" mobiledisplay="true" type="big_integer" readonly="true"></wm-table-column>
                                </wm-table>
                            </wm-tabpane>
                        </wm-tabs>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>