<wm-page data-ng-controller="Add_py_payouts_pagePageController" pagetitle="Add Py Payouts Page" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-form errormessage="" captionposition="top" title="Py Payouts Details Form" enctype="application/x-www-form-urlencoded" method="post" dataset="bind:Variables.OverridesCreatePyPayouts.dataSet" captionalign="center" name="createPyPayoutsForm1">
                <wm-layoutgrid columns="2" name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-composite name="composite1"></wm-composite>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn1">
                            <wm-form-field readonly="false" name="PyPayouts_vendorId" displayname="Vendor" key="PyPayouts.vendorId" type="integer" show="true" widget="select" dataset="bind:Variables.read_vendors.dataSet" displayfield="name" datafield="vendorId"
                                orderby="name:asc"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn2">
                            <wm-form-field readonly="false" name="PyPayouts_periodId" displayname="Period" key="PyPayouts.periodId" type="integer" show="true" widget="select" dataset="bind:Variables.read_periods.dataSet" datafield="periodId" displayfield="name"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn3">
                            <wm-form-field readonly="false" name="PyPayouts_yearDt" displayname="Year Dt" key="PyPayouts.yearDt" type="integer" show="true" widget="select" dataset="bind:Variables.list_years.dataSet" datafield="dataValue" displayfield="dataValue"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn4">
                            <wm-form-field readonly="false" name="PyPayouts_payoutAmt" displayname="Payout Amt" key="PyPayouts.payoutAmt" type="double" show="true" widget="currency"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-buttongroup horizontalalign="right" class="form-action col-md-12" name="buttongroup1">
                    <wm-button caption="Reset" type="reset" class="btn-secondary" name="button1"></wm-button>
                    <wm-button caption="Cancel" type="button" class="btn-warning" name="button2" on-click="Actions.goToPage_Main.invoke()"></wm-button>
                    <wm-button caption="Save" type="submit" class="btn-primary" name="button3"></wm-button>
                    <wm-button class="btn-default" caption="refresh" type="button" name="py_payout_refresh_button" on-click="Widgets.PyPayoutsTable1.refreshData()"></wm-button>
                </wm-buttongroup>
            </wm-form>
            <wm-table editmode="inline" name="PyPayoutsTable1" title="Py_payouts List" dataset="bind:Variables.OverridesPyPayoutsData.dataSet" navigation="Basic" filtermode="multicolumn">
                <wm-table-column binding="vendors.name" caption="Vendor Name" primary-key="false" edit-widget-type="text" related-entity-name="Vendors" type="string" generator="assigned" readonly="true" mobiledisplay="false" show="true"></wm-table-column>
                <wm-table-column binding="periods.name" caption="Period" primary-key="false" edit-widget-type="text" related-entity-name="Periods" type="string" generator="assigned" readonly="true" mobiledisplay="false" show="true"></wm-table-column>
                <wm-table-column binding="yearDt" caption="Year Dt" edit-widget-type="select" type="integer" generator="assigned" readonly="true" dataset="bind:Variables.list_years.dataSet" datafield="dataValue" displayfield="dataValue"
                    show="true"></wm-table-column>
                <wm-table-column binding="payoutAmt" caption="Payout Amt" edit-widget-type="number" type="double" generator="assigned" defaultvalue="0" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action>
                <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
            </wm-table>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>