<wm-page data-ng-controller="Add_Py_Performances_PagePageController" pagetitle="Add Py Performances Page" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-form errormessage="" captionposition="top" title="Py Performances Form" enctype="application/x-www-form-urlencoded" method="post" dataset="bind:Variables.OverridesCreatePyPerformances.dataSet" captionalign="center" name="createPyPerformancesForm1">
                <wm-layoutgrid columns="2" name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-composite name="composite1"></wm-composite>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn1">
                            <wm-form-field readonly="false" name="PyPerformances_vendorId" displayname="Vendor" key="PyPerformances.vendorId" type="integer" show="true" widget="select" dataset="bind:Variables.read_vendors.dataSet" datafield="vendorId" displayfield="name"
                                orderby="name:asc"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn2">
                            <wm-form-field readonly="false" name="PyPerformances_periodId" displayname="Period" key="PyPerformances.periodId" type="integer" show="true" widget="select" dataset="bind:Variables.read_periods.dataSet" datafield="periodId" displayfield="name"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn3">
                            <wm-form-field readonly="false" name="PyPerformances_yearDt" displayname="Year Dt" key="PyPerformances.yearDt" type="integer" show="true" widget="select" dataset="bind:Variables.list_years.dataSet" datafield="dataValue" displayfield="dataValue"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn4"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn5">
                            <wm-form-field readonly="false" name="PyPerformances_salesAmt" displayname="Sales Amt" key="PyPerformances.salesAmt" type="double" show="true" widget="currency"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn6">
                            <wm-form-field readonly="false" name="PyPerformances_qualSalesAmt" displayname="Qual Sales Amt" key="PyPerformances.qualSalesAmt" type="double" show="true" widget="currency"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn7">
                            <wm-form-field readonly="false" name="PyPerformances_unitsAmt" displayname="Units Amt" key="PyPerformances.unitsAmt" type="double" show="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn8">
                            <wm-form-field readonly="false" name="PyPerformances_qualUnitsAmt" displayname="Qual Units Amt" key="PyPerformances.qualUnitsAmt" type="double" show="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn9">
                            <wm-form-field readonly="false" name="PyPerformances_paxAmt" displayname="Pax Amt" key="PyPerformances.paxAmt" type="double" show="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn10">
                            <wm-form-field readonly="false" name="PyPerformances_qualPaxAmt" displayname="Qual Pax Amt" key="PyPerformances.qualPaxAmt" type="double" show="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-buttongroup horizontalalign="right" class="form-action col-md-12" name="buttongroup1">
                    <wm-button caption="Reset" type="reset" class="btn-secondary" name="button1"></wm-button>
                    <wm-button caption="Cancel" type="button" class="btn-warning" name="button2" on-click="Actions.goToPage_Main.invoke()"></wm-button>
                    <wm-button caption="Save" type="submit" class="btn-primary" name="button3"></wm-button>
                    <wm-button class="btn-default" caption="refresh" type="button" name="py_perf_refresh_button" on-click="Widgets.PyPerformancesTable1.refreshData()"></wm-button>
                </wm-buttongroup>
            </wm-form>
            <wm-table editmode="inline" name="PyPerformancesTable1" title="Py_performances List" dataset="bind:Variables.OverridesPyPerformancesData.dataSet" navigation="Basic" filtermode="multicolumn">
                <wm-table-column binding="vendors.name" caption="Vendor Name" primary-key="false" edit-widget-type="text" related-entity-name="Vendors" type="string" generator="assigned" readonly="true" mobiledisplay="false" show="true"></wm-table-column>
                <wm-table-column binding="periods.name" caption="Period" primary-key="false" edit-widget-type="text" related-entity-name="Periods" type="string" generator="assigned" readonly="true" mobiledisplay="false" show="true"></wm-table-column>
                <wm-table-column binding="yearDt" caption="Year Dt" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="salesAmt" caption="Sales Amt" edit-widget-type="number" type="double" generator="assigned" defaultvalue="0" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="qualSalesAmt" caption="Qual Sales Amt" edit-widget-type="number" type="double" generator="assigned" defaultvalue="0" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="unitsAmt" caption="Units Amt" edit-widget-type="number" type="double" generator="assigned" defaultvalue="0" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="qualUnitsAmt" caption="Qual Units Amt" edit-widget-type="number" type="double" generator="assigned" defaultvalue="0" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="paxAmt" caption="Pax Amt" edit-widget-type="number" type="double" generator="assigned" defaultvalue="0" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="qualPaxAmt" caption="Qual Pax Amt" edit-widget-type="number" type="double" generator="assigned" defaultvalue="0" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action>
                <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
            </wm-table>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>