<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-page-content columnwidth="12" name="mainContent" padding="unset 15px">
            <wm-table title="vendors List" dataset="bind:Variables.OverridesVendorsData.dataSet" navigation="Basic" name="grid1" spacing="condensed" height="700px" class="panel-default" filtermode="multicolumn" navigationalign="left" showrecordcount="true">
                <wm-table-column binding="name" caption="Name" width="300px" edit-widget-type="text" type="string" generator="assigned" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="custom" caption="Link" widget-type="button" edit-widget-type="text" type="custom" readonly="true" mobiledisplay="false" searchable="false" show="true">
                    <wm-button caption="{{row.getProperty('custom') || 'Details'}}" show="true" class="btn-sm btn-primary" iconclass="" on-click="Variables.select_vendor.invoke()" data-ng-class=""></wm-button>
                </wm-table-column>
            </wm-table>
        </wm-page-content>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>